## Homework 11 - Data Storage Retrieval

## Step 1 - Data Engineering

In [1]:
#set dependencies
import pandas as pd
import numpy as np

#import csv files
hawaii_measurements_csv = "resources/hawaii_measurements.csv"
hawaii_stations_csv = "resources/hawaii_stations.csv"

hawaii_measurements = pd.read_csv(hawaii_measurements_csv)
hawaii_stations = pd.read_csv(hawaii_stations_csv)

#merge both csv file
#initially thought to merge data into 1 file, but changed my mind
#hawaii_data = pd.merge(hawaii_measurements, hawaii_stations, on = "station", how = "outer")
#hawaii_data = pd.DataFrame(hawaii_data)
#hawaii_data.head()

In [2]:
#Clean all NA from data. I decided to remove the rows entirely
hawaii_measurements = hawaii_measurements.dropna(how = "any")
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [3]:
hawaii_stations = hawaii_stations.dropna(how = "any")
hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [4]:
#export to csv
hawaii_stations.to_csv("clean_hawaii_stations.csv", index=False)
hawaii_measurements.to_csv("clean_hawaii_measurements.csv", index = False)