## Database Engineering
## Step 2 - Database Engineering

In [2]:
#import dependencies
import pandas as pd
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Date, Text, Float, Integer

In [3]:
#Use engine to create a hawaii sqlite database
station = pd.read_csv('clean_hawaii_stations.csv')
measurement = pd.read_csv('clean_hawaii_measurements.csv')

engine = create_engine("sqlite:///hawaii.sqlite", echo=False)
conn = engine.connect()
Base = declarative_base()

In [4]:
# Use declarative_base and create ORM classes for each table.
# You will need a class for Measurement and for Station.
# Make sure to define your primary keys.

class Station(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
class Measurement(Base):
    __tablename__ = 'measurements'
    
    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [5]:
station.to_sql('stations', conn, dtype={'id': Integer(), 'station': Text(), 'name': Text(), 
                                        'latitude': Float(), 'longitude': Float(), 'elevation': Float()})
measurement.to_sql('measurements', conn, dtype={'id': Integer(), 'station': Text(), 'date': Text(), 'prcp': Float(), 
                                                'tobs': Integer()})